
.idea/

aclImdb/

*.txt

*.csv

*.pb

*.index

*.data-00000-of-00001

tensorflow_practice/logs

*.tgz

*.meta

*.bmp

*.pbtxt

*.tflite

*.jpg

*.png

*.gif

*.avi

*.tsv

TF_Hub/NLP/index

*.mapping

*.ogv

*.jpeg

*.vec

*.gz

*.zip

*.tfrecords

TF_Hub/NLP/random_projection_matrix

*.npz

*.json

*.bin

*.dat

*.html

spaCy/models/en_ushmm-0.0.16/en_ushmm/en_ushmm-0.0.16/ner/

spaCy/models/en_ushmm-0.0.16/en_ushmm/en_ushmm-0.0.16/

spaCy/models/rules_pipeline/tagger/

spaCy/models/rules_pipeline/parser/

spaCy/resources

spaCy/models

spaCy/training

spaCy/corpus

spaCy/configs
