
.idea/

aclImdb/

*.txt

*.csv

*.pb

*.index

*.data-00000-of-00001

tensorflow_practice/logs

*.tgz

*.meta

*.bmp

*.pbtxt

*.tflite

*.jpg

*.png

*.gif

*.avi

*.tsv

TF_Hub/NLP/index

*.mapping

*.ogv

*.jpeg

*.vec

*.gz

*.zip

*.tfrecords

TF_Hub/NLP/random_projection_matrix
